In [1]:
import pandas as pd
import sqlite3

In [8]:
conn = sqlite3.connect('database.sqlite')      # connect to database

In [9]:
# station ---
sta_sql = "select * from station;"

In [10]:
df_sta = pd.read_sql(sta_sql,conn)             # load dataframe

In [11]:
df_sta.head(10)

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013
5,7,Paseo de San Antonio,37.333798,-121.886943,15,San Jose,8/7/2013
6,8,San Salvador at 1st,37.330165,-121.885831,15,San Jose,8/5/2013
7,9,Japantown,37.348742,-121.894715,15,San Jose,8/5/2013
8,10,San Jose City Hall,37.337391,-121.886995,15,San Jose,8/6/2013
9,11,MLK Library,37.335885,-121.885660,19,San Jose,8/6/2013

In [12]:
df_sta.shape

(70, 7)

In [13]:
# trip ---
# skip loading full table for now to save time

# sqlite> select count(id) from trip;
# 669,959

# trip_sql = 'select * from trip;'

# df_trip = pd.read_sql(trip_sql,conn)             # load dataframe 

# df_trip.head(10)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4069,174,8/29/2013 9:08,2nd at South Park,64,8/29/2013 9:11,2nd at South Park,64,288,Subscriber,94114
1,4073,1067,8/29/2013 9:24,South Van Ness at Market,66,8/29/2013 9:42,San Francisco Caltrain 2 (330 Townsend),69,321,Subscriber,94703
2,4074,1131,8/29/2013 9:24,South Van Ness at Market,66,8/29/2013 9:43,San Francisco Caltrain 2 (330 Townsend),69,317,Subscriber,94115
3,4075,1117,8/29/2013 9:24,South Van Ness at Market,66,8/29/2013 9:43,San Francisco Caltrain 2 (330 Townsend),69,316,Subscriber,94122
4,4076,1118,8/29/2013 9:25,South Van Ness at Market,66,8/29/2013 9:43,San Francisco Caltrain 2 (330 Townsend),69,322,Subscriber,94597
5,4078,3829,8/29/2013 9:31,Redwood City Caltrain Station,22,8/29/2013 10:34,Redwood City Caltrain Station,22,228,Customer,94062
6,4079,995,8/29/2013 9:35,South Van Ness at Market,66,8/29/2013 9:52,South Van Ness at Market,66,327,Subscriber,94102
7,4080,764,8/29/2013 9:36,South Van Ness at Market,66,8/29/2013 9:49,San Francisco Caltrain 2 (330 Townsend),69,315,Subscriber,94117
8,4081,218,8/29/2013 9:38,Mountain View City Hall,27,8/29/2013 9:41,Mountain View City Hall,27,150,Subscriber,97214
9,4084,287,8/29/2013 9:41,Mountain View City Hall,27,8/29/2013 9:46,Mountain View City Hall,27,138,Customer,97214

In [15]:
# smaller result set to explore ---

# sqlite> select max(start_date) from trip;
# 9/9/2014 9:59
# sqlite> select count(*) from trip where start_date > '9/9/2014 8:00';
# 330

sm_trip_sql = "select * from trip where start_date > '9/9/2014 8:00';"

df_sm_trip = pd.read_sql(sm_trip_sql, conn)

df_sm_trip.head(10)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,443911,444,9/9/2014 8:01,San Francisco Caltrain (Townsend at 4th),70,9/9/2014 8:08,Market at Sansome,77,599,Subscriber,94404
1,443912,1029,9/9/2014 8:01,2nd at South Park,64,9/9/2014 8:18,Market at 4th,76,548,Subscriber,94105
2,443913,280,9/9/2014 8:01,Davis at Jackson,42,9/9/2014 8:06,Commercial at Montgomery,45,537,Subscriber,94111
3,443914,339,9/9/2014 8:01,Steuart at Market,74,9/9/2014 8:07,Embarcadero at Sansome,60,485,Subscriber,94565
4,443915,785,9/9/2014 8:01,San Francisco Caltrain (Townsend at 4th),70,9/9/2014 8:14,Embarcadero at Vallejo,48,343,Subscriber,94065
5,443916,370,9/9/2014 8:01,Temporary Transbay Terminal (Howard at Beale),55,9/9/2014 8:08,2nd at Townsend,61,558,Subscriber,94606
6,443917,721,9/9/2014 8:02,San Francisco Caltrain (Townsend at 4th),70,9/9/2014 8:14,Embarcadero at Vallejo,48,374,Subscriber,94025
7,443920,1002,9/9/2014 8:02,San Francisco Caltrain (Townsend at 4th),70,9/9/2014 8:19,Commercial at Montgomery,45,524,Subscriber,94070
8,443921,534,9/9/2014 8:03,San Francisco Caltrain (Townsend at 4th),70,9/9/2014 8:11,Embarcadero at Folsom,51,636,Subscriber,94070
9,443922,220,9/9/2014 8:03,San Francisco Caltrain 2 (330 Townsend),69,9/9/2014 8:07,Townsend at 7th,65,591,Subscriber,94070

In [16]:
df_sm_trip.shape

(330, 11)

In [ ]:
# status ---

# sqlite> select count(*) from status;
# 71,984,434

# status_sql = "select * from status;"

# df_status = pd.read_sql(status_sql,conn)             # load dataframe 

# df_status.head(10)

In [ ]:
# df_status.columns

In [ ]:
# weather ---

# sqlite> select count(*) from weather;
# 3665

weather_sql = 'select * from weather;'

df_weather = pd.read_sql(weather_sql,conn)             # load dataframe 

df_weather.columns