##  First Jupyter notebook, 
### for Seattle Cycle Share data on kaggle

### Part 1 - Exploring the data  ------------------------------------------

In [1]:
import pandas as pd

df_sta = pd.read_csv('station.csv')

df_weather = pd.read_csv('weather.csv')

df_trips = pd.read_csv('trip.csv', skiprows=[50793])

In [12]:
df_sta.columns

Index(['station_id', 'name', 'lat', 'long', 'install_date',
       'install_dockcount', 'modification_date', 'current_dockcount',
       'decommission_date'],
      dtype='object')

In [13]:
df_trips.columns

Index(['trip_id', 'starttime', 'stoptime', 'bikeid', 'tripduration',
       'from_station_name', 'to_station_name', 'from_station_id',
       'to_station_id', 'usertype', 'gender', 'birthyear'],
      dtype='object')

In [17]:
len(df_trips.trip_id)

286857

In [47]:
len(pd.unique(df_trips['trip_id']))

236065

In [63]:
df_trips.groupby(by='from_station_name').trip_id.count().sort_values(ascending = False)

from_station_name
Pier 69 / Alaskan Way & Clay St                                           13054
E Pine St & 16th Ave                                                      11392
3rd Ave & Broad St                                                        10934
2nd Ave & Pine St                                                         10049
Westlake Ave & 6th Ave                                                     9994
E Harrison St & Broadway Ave E                                             9639
Cal Anderson Park / 11th Ave & Pine St                                     9468
REI / Yale Ave N & John St                                                 8382
2nd Ave & Vine St                                                          8168
15th Ave E & E Thomas St                                                   7680
Key Arena / 1st Ave N & Harrison St                                        7486
PATH / 9th Ave & Westlake Ave                                              7206
Dexter Ave N & Aloha St                                                    6937
Summit Ave & E Denny Way                                                   6768
Summit Ave E & E Republican St                                             6576
Seattle Aquarium / Alaskan Way S & Elliott Bay Trail                       6357
12th Ave & E Mercer St                                                     6322
2nd Ave & Blanchard St                                                     6270
Pine St & 9th Ave                                                          6060
E Blaine St & Fairview Ave E                                               5747
Harvard Ave & E Pine St                                                    5698
Lake Union Park / Valley St & Boren Ave N                                  5676
Republican St & Westlake Ave N                                             5673
Occidental Park / Occidental Ave S & S Washington St                       5647
1st Ave & Marion St                                                        5626
7th Ave & Union St                                                         5555
Bellevue Ave & E Pine St                                                   5548
2nd Ave & Spring St                                                        5464
9th Ave N & Mercer St                                                      5161
6th Ave & Blanchard St                                                     4684
                                                                          ...
Seattle University / E Columbia St & 12th Ave                              4077
King Street Station Plaza / 2nd Ave Extension S & S Jackson St             3868
12th Ave & E Denny Way                                                     3837
Burke-Gilman Trail / NE Blakeley St & 24th Ave NE                          3784
Eastlake Ave E & E Allison St                                              3645
City Hall / 4th Ave & James St                                             3632
12th Ave & NE Campus Pkwy                                                  3630
Fred Hutchinson Cancer Research Center / Fairview Ave N & Ward St          3580
Frye Art Museum / Terry Ave & Columbia St                                  3282
15th Ave NE & NE 40th St                                                   2801
6th Ave S & S King St                                                      2731
Union St & 4th Ave                                                         2693
UW Engineering Library / E Stevens Way NE & Jefferson Rd                   2689
NE 47th St & 12th Ave NE                                                   2555
Terry Ave & Stewart St                                                     2134
Burke Museum / E Stevens Way NE & Memorial Way NE                          2068
UW Intramural Activities Building                                          1848
Children's Hospital / Sandpoint Way NE & 40th Ave NE                       1657
NE 42nd St & University Way NE                                             1434
UW Magnuson Health Sciences Center Rotunda / Columbia Rd & San Juan Rd     1398
Broadway and E Denny Way                                                   1288
NE Pacific St/UW Medical Center                                             988
12th Ave & E Yesler Way                                                     958
Mercer St & 9th Ave N                                                       863
Thomas St & 5th Ave N                                                       761
UW McCarty Hall / Whitman Ct                                                752
Pier 66 / Alaskan Way & Bell St                                             160
8D OPS 02                                                                     2
Pronto shop 2                                                                 2
Pronto shop                                                                   1
Name: trip_id, dtype: int64

In [64]:
df_trips[df_trips['from_station_name'] =='Pier 69 / Alaskan Way & Clay St'].trip_id.count()      # checking..

13054

In [54]:
df_trips.groupby(by='gender').trip_id.count()

gender
Female     37562
Male      140564
Other       3431
Name: trip_id, dtype: int64

In [57]:
df_trips[df_trips.gender=='Male'].trip_id.count()   # testing 1,2

140564

In [51]:
df_trips[df_trips.gender=='Female'].trip_id.count()

37562

In [65]:
df_weather.columns

Index(['Date', 'Max_Temperature_F', 'Mean_Temperature_F', 'Min_TemperatureF',
       'Max_Dew_Point_F', 'MeanDew_Point_F', 'Min_Dewpoint_F', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_Pressure_In',
       'Mean_Sea_Level_Pressure_In', 'Min_Sea_Level_Pressure_In',
       'Max_Visibility_Miles', 'Mean_Visibility_Miles', 'Min_Visibility_Miles',
       'Max_Wind_Speed_MPH', 'Mean_Wind_Speed_MPH', 'Max_Gust_Speed_MPH',
       'Precipitation_In', 'Events'],
      dtype='object')

In [73]:
df_weather.Date.min()

'1/1/2015'

In [74]:
df_weather.Date.max()

'9/9/2015'

In [68]:
df_weather.groupby(by='Mean_Temperature_F').Date.count()

Mean_Temperature_F
33.0     1
34.0     7
35.0     4
36.0     3
38.0     9
39.0     6
40.0    10
41.0     7
42.0    21
43.0     3
44.0    22
45.0     6
46.0    18
47.0    15
48.0    42
49.0    14
50.0    37
51.0     8
52.0    43
53.0     2
54.0    30
55.0    14
56.0    29
57.0    12
58.0    35
59.0    14
60.0    39
61.0     7
62.0    20
63.0     7
64.0    26
65.0    12
66.0    39
67.0    10
68.0    23
69.0     5
70.0    19
71.0     8
72.0    17
73.0     6
74.0     9
75.0     6
76.0     6
77.0     4
78.0     9
80.0     3
83.0     1
Name: Date, dtype: int64

In [71]:
df_weather.groupby(by='Precipitation_In').Date.count()    # how much precipitation makes a day rainy?

Precipitation_In
0.00    395
0.01     36
0.02     18
0.03     15
0.04     11
0.05     12
0.06     10
0.07     10
0.08      4
0.09      9
0.10      6
0.11      8
0.12     10
0.13      6
0.14      3
0.15      6
0.16      6
0.17      2
0.18      4
0.19      2
0.20      5
0.21      3
0.22      5
0.23      1
0.24      3
0.25      2
0.26      1
0.27      6
0.28      1
0.29      2
       ...
0.56      2
0.57      2
0.58      1
0.60      2
0.61      1
0.63      1
0.67      2
0.68      1
0.71      1
0.73      1
0.74      1
0.75      2
0.76      1
0.77      2
0.80      1
0.81      1
0.82      2
0.83      1
0.86      1
0.87      1
0.97      1
0.99      1
1.06      1
1.27      1
1.31      1
1.39      1
1.43      1
1.51      1
1.64      1
2.20      1
Name: Date, dtype: int64

In [81]:
df_weather[(df_weather.Precipitation_In > 0) & (df_weather.Precipitation_In < 0.10)].Date.count()

125

In [82]:
df_weather[(df_weather.Precipitation_In > 0.10) & (df_weather.Precipitation_In < 0.20)].Date.count()

47

In [83]:
df_weather[(df_weather.Precipitation_In > 0.20) & (df_weather.Precipitation_In < 0.30)].Date.count()

24

In [86]:
df_weather[(df_weather.Precipitation_In > 0.30)].Date.count()

85

### Part 2 - Counting trips  ----------------------------------------------

In [38]:
df_num_tr = pd.DataFrame(index=df_sta.station_id, # trip count
                columns=df_sta.station_id)        # not controlling for weather

In [39]:
for i in df_sta.station_id:                 # from
    for j in df_sta.station_id:             # to 
        df_num_tr[i][j] = len(df_trips[(df_trips.from_station_id==i) & 
        (df_trips.to_station_id==j)].trip_id)