In [1]:
import pandas as pd

In [2]:
df_ti = pd.read_csv('train.csv')

In [3]:
df_ti.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df_ti.groupby(by='Survived').Sex.count()

Survived
0    549
1    342
Name: Sex, dtype: int64

In [8]:
df_ti.groupby(by='Sex').Survived.mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

        Survived
Sex
female  0.742038
male    0.188908